#jsDom
    .chat
        margin-top: 100px
        width: 85%
        height: 330px
        border-radius: 15px
        background-color: #e8edff
        .message
            overflow: hidden
            width: auto
            margin: 20px
            height: 230px
            background-color: #ffffff
            border-radius: 15px
            .line
                margin: 7px 8px 0 8px
                display: flex
                h3
                    width: auto
                    height: auto
                    padding: 8px
                    background-color: #7991e7
                    border-radius: 15px
                    color: #ffffff
            .end
                display: flex
                justify-content: flex-end
        .text
            display: flex
            justify-content: center
            align-items: center
            input
                width: 165px
                height: 32px
                border-radius: 15px
            .sent
                h3
                    cursor: pointer
                    font-size: 14px
                    margin: 0 0 0 10px
                    padding: 9px 22px
                    background-color: #7991e7e1
                    border-radius: 18px
                    color: #ffffff
                    transition: 0.2s
                    &:hover
                        background-color: #6a84e4
                        transition: 0.2s

    @media screen and ( max-width: 576px )
        .chat
            margin-top: 20px
            width: 270px
            height: 210px
            border-radius: 15px
            .message
                width: auto
                height: 125px
            .text
                input
                    width: 145px
                    height: 32px
                .sent
                    h3
                        font-size: 12px
                        padding: 10px 22px